
body {
  background-color: rgb(119, 179, 182);
}
.box-4 {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  padding-bottom: 3%;
  padding-top: 1%;
  padding-left: 2%;
  background-color: white;
}
.img {
  width: 40%;
  height: 40%;
  margin-left: 25%;
}
.p {
  padding-left: 25%;
  font: sans-serif;
  font-size: 120%;
}